* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.calParent {
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 30px;
    border: none;
    width: 350px;
    background-color: white;
}

.input {
    width: 300px;
    border: none;
    border-radius: 50px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    background-color: blue;
}

.inText {
    width: 100%;
    border: none;
    outline: none;
    background-color: blue;
    color: black;
    font-size: 30px;
}

.btnParent {
    padding: 30px;
}

.btn {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

button {
    height: 60px;
    width: 100px;
    border-radius: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: lightblue;
    font-size: 30px;
    color: darkgray;
}